.YoutubeList {
    .videoDivsWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .videoDiv {
            max-width: 480px;
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;           
            &:hover{
                h5{
                    text-decoration: underline;
                }
                cursor: pointer; 
            }
            &.main{
                h5{
                    text-decoration: underline;
                }
                background-color: beige;
            }
        }
    }
}